/* single menu page */
.single-menu {
    width: 100%;
    display: flex;
    height: 100vh;
    overflow: hidden;

    header {
        margin: 0;
        left: 5%;
    }

    .left {
        width: 50%;
        text-align: center;
        justify-content: center;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(https://cdn.prod.website-files.com/65aa1f78e2380ad0548de50d/65c4760165c03d467b650bcb_1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding-top: 5%;
        color: var(--white);

        h2 {
            margin-top: 10%;
            font-weight: 700;
        }

        h1 {
            color: var(--orange);
            font-size: 70px;
            font-weight: 600;
            margin-bottom: 0;
            padding-bottom: 1em;
        }

    }

    .right {
        width: 50%;
        background-color: var(--black);
        color: var(--white);
        overflow-y: auto;
        scroll-behavior: smooth;
        scrollbar-color: var(--black), var(--gray);
        scrollbar-width: thin;
        padding: 0 3%;

        nav {
            display: flex;
            justify-content: space-between;
            margin: 2% auto;
            width: 70%;

            a {
                text-decoration: none;
                color: var(--white);
                cursor: pointer;
            }

            a:hover {
                color: var(--brown);
            }
        }

        .foods {
            h2 {
                font-weight: 600;
                color: #B34215;
            }

            .priced,
            .imaged {
                display: flex;
                width: 100%;
                justify-content: space-between;
                margin: 10px 0;

                .imaged-cont {
                    display: flex;
                    gap: 5%;

                    img {
                        width: 100px;
                        height: 100px;
                        object-fit: cover;
                        border-radius: 50%;
                    }

                    h3 {
                        margin: 0;
                    }
                }
            }
        }
    }

}