:root{
    --black: #090A0A;
    --gray: #737373;
    --light-gray: #8a8a8a;
    --white: #fff;
    --orange: #B34215;
    --brown: #F1CB8A;
    --light-brown: #F2D5A5;
}

*{
    box-sizing: border-box;
}

@font-face {
    font-family: HumanistBt;
    src: url(fonts/Humanist521BT.ttf);
}

@font-face {
    font-family: Typewriter;
    src: url(fonts/American\ Typewriter\ Regular.ttf);
}

body{
    margin: 0;
    overflow-x: hidden;
    scrollbar-width: none;
    width: 100%;
    
}

header{
    position: fixed;
    bottom: 5%;
    width: 40%;
    background-color: var(--black);
    padding: 5px 20px;
    border-radius: 50px;
    margin: 0 30%; 
    z-index: 1;
    font-family: HumanistBt, sans-serif;
    justify-content: center;
    align-items: center;

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        a {
            text-decoration: none;
            color: var(--white);
            cursor: pointer;
            padding: 10px;
        }

        a:last-child {
            background-color: var(--gray);
            border-radius: 50px;
        }

        a:last-child:hover {
            background-color: var(--white);
            color: var(--black);
        }

        a:hover {
            color: var(--gray);
        }

        .navlink.active{
            background-color: rgba(78, 78, 78, 0.2);
        }

        i {
            color: var(--gray);
            padding: 15px;
            font-size: 20px;
            position: relative;
            cursor: pointer;
        }

        i:hover {
            background-color: var(--white);
            border-radius: 50%;
        }

        .menu-toggle{
            position: relative;
            display: inline-block;

            .vertical-menu {
                display: none;
                position: absolute;
                bottom: 4em;
                left: 0;
                width: 12em;
                background-color: var(--black);
                color: var(--white);
                padding: 0.5em 1em;
                border-radius: 20px;
                font-family: unset !important;
                z-index: 1;
                text-align: start;
        
                a {
                    border-bottom: 1px solid var(--gray);
                    display: block;
                    text-decoration: none;
                    padding: 0.75em 1em;
                    font-family: unset !important;
                    text-transform: capitalize !important;
                }
        
                a:last-child {
                    background-color: unset !important;
                    border-radius: unset !important;
                }
        
                a:last-child:hover {
                    color: var(--gray) !important;
                    /* border-radius: unset !important; */
                }
            }

            .vertical-menu.show{
                display: block;
            }
        }

        .clock-toggle{
            position: relative;
            display: inline-block;

            .hours {
                display: none;
                position: absolute;
                bottom: 3em;
                width: 12em;
                background-color: var(--white);
                color: var(--black);
                padding: 2em 1em;
                border-radius: 20px;
                text-align: start;
                z-index: 1;
            
                h3 {
                    font-size: 14px;
                }
            
                h2 {
                    font-size: 20px;
                }
            
                p {
                    font-size: 12px;
                }
            }

            .hours.show{
                display: block;
            }
        }
    }

}

.slideshow {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    .slide {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        animation: fadeCycle 25s infinite;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;    
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-top: 10%;
        font-family: Typewriter;

        img {
            width: 200px;
            height: 200px;
        }

        h1 {
            font-size: 8em;
            color: var(--gray);
            font-weight: 500;
        }
    }

    #slide1 {
        animation-delay: 0s;
        background-image: url(https://cdn.prod.website-files.com/65aa1f78e2380ad0548de50d/65c34fee7c31fcb2f8c3700b_001-p-1080.jpg);
    }

    #slide2 {
        animation-delay: 5s;
        background-image: url(https://cdn.prod.website-files.com/65aa1f78e2380ad0548de50d/65e5b8b549a7aac5dba0e7d3_ankole_kilimani_nightlife.jpg);
    }

    #slide3 {
        animation-delay: 10s;
        background-image: url(https://cdn.prod.website-files.com/65aa1f78e2380ad0548de50d/65c5f9644676e29dddf08c65_ankolegrill_t-bone-steak-2024-1.jpg);
    }

    #slide4 {
        animation-delay: 15s;
        background-image: url(https://cdn.prod.website-files.com/65aa1f78e2380ad0548de50d/65c3b0c67153d0056443f31e_ankolegrill_escobar1.jpg);
    }

    #slide5 {
        animation-delay: 20s;
        background-image: url(https://cdn.prod.website-files.com/65aa1f78e2380ad0548de50d/65cb61d8c46dc657819e1cc2_ankolegrill_slider-p-1080.jpg);
    }
}

@keyframes fadeCycle {
    0% {
        opacity: 0;
    }

    8% {
        opacity: 1;
    }

    20% {
        opacity: 1;
    }

    28% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

footer{
    position: fixed;
    right: 5%;
    z-index: 1;
    top: 10%;

    a{
        text-decoration: none;
    }

    i {
        color: var(--gray);
        border-radius: 50%;
        padding: 10px;
        border: solid var(--gray) 1px;
        margin: 10px;
    }

    .bottom i {
        position: fixed;
        bottom: 5%;
        background-color: var(--black);
        padding: 15px;
        color: var(--white);
        font-size: 25px;
    }
}

@media  screen and (max-width: 700px)  {
    .menus .menu-container, 
    .single-menu, 
    .reservation,
    .contacts .branches,
    .events .event-list{
        display: block !important;
        overflow-y: auto !important;
        margin: 0 !important;
    }

    .menus .menu-container .menu{
        width: 100% !important;
        height: 70% !important;
        padding-top: 60% !important;
    }

    .single-menu .right, 
    .single-menu .left,
    .reservation .heading,
    .reservation .form,
    .events .event-list .event,
    .reviews .content,
    .slide{
        width: 100% !important;
    }

    .live{
        display: block !important;

        .left{
            width: 100%;
            margin: 0 auto;
        }

        .right{
            width: 100%;

            .single-performance{
                display: block !important;
                width: 100%;

                .text-container{
                    display: block !important;
                    width: 100%;
                }
            }
        }

        header{
            margin-left: unset !important;
            left: 10%;
            
        }
    }

    .reservation .form {
        padding-top: 3% !important;
        padding-bottom: 50% !important;
    }

    .single-menu .right nav{
        width: 80% !important;
        font-size: 12px !important;
    }


    .contacts{
        .branches{
            display: block !important;
            overflow-y: auto;
            .location{
                margin: 2% !important;
                width: 95% !important;

                h1{
                    font-size: 1.5em !important;
                }
            }
        }
    }

    .single-live {
        width: 100% !important;
        height: 100vh !important;
        background-color: var(--black);
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        .text-container{
            position: fixed;
            width: 100%;
            bottom: 0;
            right: 0;
            left: 0;
            text-align: start;

            h1 {
                font-size: 3em !important;
                margin: 0;
                padding: 0;
            }
        }
        
    }


    .imaged img{
        width: 50px;
        height: 50px;
    }

    footer .top{
        display: grid;
        
    }

    footer .top i{
        margin: 2px;
        padding: 5px;
    }

    footer .bottom i{
        bottom: 10%;
        padding: 10px;
        right: 3%;
    }

    header{
        width: 80%;
        margin: 0 10%;
    }
    header nav a:not(:last-child){
        display: none;
    }

    .slideshow .slide h1, 
    .reservation .heading h1,
    h1{
        font-size: 3em !important;
    }

    h2{
        font-size: 1.5em;
    }

    h3{
        font-size: 1em;
    }

    p{
       font-size: 14px;
    }
}

@media only screen and (max-width:1024px) and (min-width: 701px) {
    .menus .menu-container, .single-menu, .reservation, .live {
        display: block !important;
        overflow-y: auto !important;
    }

    .menus .menu-container .menu {
        width: 100% !important;
        height: 50% !important;
        padding-top: 30% !important;
    }

    .single-menu .right,
    .single-menu .left , 
    .reservation .form,
    .reservation .heading,
    .contacts .branches,
    .live .left,
    .live .right,
    .slide{
        width: 100% !important;
    }

    .single-live {
        width: 100%;
        height: 100vh !important;
        background-color: var(--black);
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        .text-container {
            position: fixed;
            width: 100%;
            bottom: 0;
            right: 0;
            left: 0;
            text-align: start;

            h1 {
                font-size: 1em;
                margin: 0;
                padding: 0;
            }
        }

    }

    .live .right .single-performance{
        display: flex;
        margin: 5%;

        img{
            width: 200px;
            height: 200px;
        }
    }

    .contacts {
        .branches {
            padding: 5px;

            .location {
                width: 50%;

                h1{
                    font-size: 2em;
                }
            }
        }
    }

    .reservation .form{
        padding-top: 3%;
        padding-bottom: 20%;
    }

    
    .single-menu .right{
        margin: 0;
    }

    .single-menu .right nav {
        width: 80%;
        font-size: 14px;
    }

    header {
        width: 90%;
        margin: 0 6%;
    }

    footer .top {
        display: grid;

    }

    footer .top i {
        margin: 2px;
        padding: 5px;
    }

    footer .bottom i {
        bottom: 10%;
        padding: 10px;
        right: 2%;
    }

    .slideshow .slide h1, h1 {
        font-size: 4em;
    }

    h3 {
        font-size: 1em;
    }

    p {
        font-size: 16px;
    }
}